<div class="profile__followers">
  <% if current_user != user %>
    <% if user.followed_by?(current_user) %>
      <%=link_to user_relationships_path(user.id), method: :delete do %>
        <span class="gray"><i class="fas fa-grin-alt"></i>フォロー済み</span>
      <% end %>
    <% else %>
      <%=link_to user_relationships_path(user.id), method: :post do %>
        <span><i class="fas fa-grin-beam"></i>フォローする</span>
      <% end %>
    <% end %>
  <% end %>
</div>
