<div class="profile__follow">
  <% users.each do |user|%>
    <div class='profile__group'>
      <div class='profile__group__img'>
        <%= link_to image_tag(user.profile.photo_image), user %>
      </div>
      <div class='profile__group__name'>
        <p class="blue"><%= link_to user.user_name, user %></p>
      </div>
    </div>
  <% end %>
</div> 
