<div class="profile__information">
  <% informations.each do |information|%>
    <div class='profile__group'>
      <div class='profile__link'>
        <%= link_to information, data: {"turbolinks" => false} do %>
          <span><i class="fas fa-angle-right"></i> <%= information.title %> By <%= information.user.user_name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div> 
