<% provide(:title, @user.user_name) %>
<div class="profile-head">
  <div class="profile-img">
  </div>
  <div class="profile-info">
    <div class="profile-name">
      <%= @user.user_name %>
    </div>
    <div class="profile-detail">
      <%= @user.user_name %>
      <%= @user.user_name %>
    </div>
    <div class="profile-menu">
    </div>
  </div>
</div>