<% provide(:title, "稽古日記入力") %>
<div id="main-content">
  <main>
    <section class="new_edit">
      <div>
        <h2 class="main-title center">稽古日記入力</h2>
      </div>
      <div class = "new_edit__form">
        <%= render 'form'%>
      </div>
    </section>
  </main>
</div>
