<% provide(:title, '稽古会編集') %>
<% provide(:button_text, '編集') %>
<div id="main-content">
  <main>
    <section class="new_edit">
      <div>
        <h2 class="main-title center">稽古会編集</h2>
      </div>
      <div class = "new_edit__form">
        <%= render 'form' %>
      </div>
    </section>
  </main>
</div>
