/* イベント情報テーブル */

.event-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-new {
  margin-top: 5px;
}

.btn-new {
  margin-top: 10px;
}

.label-event--edit {
  margin-top: 5px;
}

.btn-event--edit {
  margin-top: 10px;
}